body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 auto;
    background-image: url("../images/dust_scratches.jpg");
    background-attachment: fixed;
    line-height: 1.5em;
}

.content {
    min-height: calc(100vh - 95px)
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

h2, h3 {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 27px;
    text-align: left;
}

section {
    background-color: #ffffff;
    padding: 20px 30px 30px 30px;
    border: 1px solid #dddddd;
    margin: 30px 0 30px 0;
}

.footer {
    background-color: #666666;
    color: #ffffff;
    width: 100%;
    line-height: 85px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    float: left;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
    /* -webkit-box-shadow: 0px 0px 116px 22px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 116px 22px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 116px 22px rgba(0,0,0,0.35); */
}

.header-content {
    width: 960px;
    margin: 0 auto;
}

.my-name {
    width: 480px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    margin: 0;
    padding: 0 20px 0 20px;
    display: inline-block;
}

.nav-bar {
    display: inline-block;
    width: 270px;
    float: right;
    overflow: visible;
}

.nav-bar a {
    width: 87px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    transition: 0.2s;
    text-decoration: none;
    color: #666666;
}

.nav-bar a:visited {
    color: #777777;
}

.nav-bar a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
    transition: 0.2s;
}

.nav-bar a:active {
    background-color: #777777;
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.about-me, .contact-form, .portfolio {
    float: left;
    width: 590px;
}

.about-me img {
    float: left;
    margin-right: 20px;
    margin-top: 6px;
    width: 180px;
}

.connect-with-me {
    float: right;
    width: 210px;
}

.connect-with-me img {
    width: 67px;
    transition: 0.2s;
}

.connect-with-me img:hover  {
    -webkit-filter: invert(100%);
    transition: 0.4s;
}

.image-holder {
    float: left;
    position: relative;
    width: 275px;
}

.caption {
    position: absolute;
    width: 275px;
    line-height: 50px;
    bottom: 30px;
    color: #ffffff;
    background: rgba(74, 170, 165, 0.7);
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.portfolio img {
    width: 100%;
}

.portfolio-left {
    margin: 15px 20px 15px 0;
}

.portfolio-right {
    margin: 15px 0 15px 20px;
}

form input{
    width: 576px;
    padding: 5px;
    margin: 10px 0 10px 0;
    color: #cccccc;
}

form input::placeholder {
    color: #cccccc;
}

#message-box {
    width: 585px;
    height: 100px;
    margin: 10px 0 20px 0;

}

#submit {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    transition: 0.1s;
}

#submit:hover {
    background-color: #ffffff;
    color: #4aaaa5;
    transition: 0.2s;
    border: 1px solid #4aaaa5;
}