.beerus {
    background: url(../characters/beerus.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.bulma {
    background: url(../characters/bulma.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.buu {
    background: url(../characters/buu.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.cell {
    background: url(../characters/cell.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.chichi {
    background: url(../characters/chichi.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.frieza {
    background: url(../characters/frieza.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.gohan {
    background: url(../characters/gohan.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.goku {
    background: url(../characters/goku.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.gotenks {
    background: url(../characters/gotenks.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.piccolo {
    background: url(../characters/piccolo.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.trunks {
    background: url(../characters/trunks.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.vegeta {
    background: url(../characters/vegeta.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.vegito {
    background: url(../characters/vegito.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.videl {
    background: url(../characters/videl.jpg);
    background-size: 100%;
    transition: 0.3s;
}

.whis {
    background: url(../characters/whis.jpg);
    background-size: 100%;
    transition: 0.3s;
}
